<div class="card card-cascade wider reverse my-4">

    <!--Card image-->
    <div class="view overlay hm-white-slight waves-light" mdbWavesEffect>
      <img src="../../../assets/academiadetenis.jpg" class="img-fluid">
    </div>
    <!--/Card image-->

    <!--Card content-->
    <div class="card-body text-center">
      <!--Title-->
      <h3 class="card-title">Academia de Tenis</h3>

      <p class="card-text" style="font-size: 14px; padding: 0 2rem 1rem 2rem;">
        Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
        Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
        Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium.
      </p>

      <div class="col-md-4">
        <div class="card card-cascade">
          <img src="../../../assets/gold-medal.png">
            <!--Card content-->
            <div class="card-body text-center">
              <!--Title-->
              <h4 class="card-title">Torneos</h4>
              <p class="card-text" style="font-size: 12px; padding: 0 .5rem;">
                Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium.
              </p>
            </div>
            <!--/.Card content-->
            <!-- Card footer -->
            <div class="mdb-color light-green text-center">
              <ul class="list-unstyled list-inline font-small mt-3">
                <li class="list-inline-item pr-2 white-text">
                  <i class="fa fa-clock-o pr-1"></i>05/01/2018</li>
                <li class="list-inline-item pr-2">
                  <a href="#" class="white-text"><i class="fa fa-comments-o pr-1"></i>4</a>
                </li>
              </ul>
            </div>
            <!-- /footer -->
        </div>
          <!--/.Card-->
      </div>

      <div class="col-md-4">
        <div class="card card-cascade">
          <img src="../../../assets/promotion.png">
            <!--Card content-->
            <div class="card-body text-center">
              <!--Title-->
              <h4 class="card-title">Promociones</h4>
              <p class="card-text" style="font-size: 12px; padding: 0 .5rem;">
                Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium.
              </p>
            </div>
            <!--/.Card content-->
            <!-- Card footer -->
            <div class="mdb-color light-green text-center">
              <ul class="list-unstyled list-inline font-small mt-3">
                <li class="list-inline-item pr-2 white-text">
                  <i class="fa fa-clock-o pr-1"></i>05/10/2018</li>
                <li class="list-inline-item pr-2">
                  <a href="#" class="white-text"><i class="fa fa-comments-o pr-1"></i>6</a>
                </li>
              </ul>
            </div>
            <!-- /footer -->
        </div>
        <!--/.Card-->
      </div>
      <div class="col-md-4">
        <div class="card card-cascade">
          <img src="../../../assets/winner.png">
            <!--Card content-->
            <div class="card-body text-center">
              <!--Title-->
              <h4 class="card-title">Categorías</h4>
              <p class="card-text" style="font-size: 12px; padding: 0 .5rem;">
                Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium.
              </p>
            </div>
            <!--/.Card content-->
            <!-- Card footer -->
            <div class="mdb-color light-green text-center">
              <ul class="list-unstyled list-inline font-small mt-3">
                <li class="list-inline-item pr-2 white-text">
                  <i class="fa fa-clock-o pr-1"></i>05/10/2018</li>
                <li class="list-inline-item pr-2">
                  <a href="#" class="white-text"><i class="fa fa-comments-o pr-1"></i>12</a>
                </li>
              </ul>
            </div>
            <!-- /footer -->
        </div>
          <!--/.Card-->
      </div>
</div>