<div class="container">
  <div class="col-lg-4">
<div class="card">

    <!--Card image-->
    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap">

    <!--Card content-->
    <div class="card-body">
        <!--Title-->
        <h4 class="card-title">Card title</h4>
        <!--Text-->
        <p class="card-text">xxx</p>
        <a href="#" class="btn btn-primary waves-light" mdbWavesEffect>Button</a>
    </div>
</div>
  </div>
</div>