<!--Section heading-->
<ng-container *ngIf="authService.esAdministrador(); else usuario">

	<div class="row">
		<div class="col-md-8">
			<h2>Tienda Virtual de la Academia</h2>
		</div>
		<div class="col-md-4">
			<button class="btn btn-light-green">
				<a routerLink="/agregar-producto">
					<i class="fa fa-plus"></i> Agregar Producto</a>
			</button>
		</div>
	</div>
	<hr>

	<table class="table table-hover">
		<thead>
			<th>Nombre</th>
			<th>Descripcion</th>
			<th>Tipo</th>
			<th>Cantidad</th>
			<th>Precio</th>
			<th></th>
		</thead>
		<tbody>
			<tr *ngFor="let producto of productos">
				<td>{{producto.nombre}}</td>
				<td>{{producto.descripcion}}</td>
				<td>{{producto.tipo}}</td>
				<td>{{producto.cantidad}}</td>
				<td>{{producto.precio}} $</td>
				<td>
					<a (click)="editar(producto._id)">
						<i class="fa fa-pencil" [routerLink]="['/producto', producto._id]"></i> &nbsp; &nbsp;
					</a>
					<a (click)="eliminar(producto._id)">
						<i class="fa fa-trash"></i>
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</ng-container>

<!--Grid row-->
<ng-template #usuario>

	<div class="row">
		<div class="col-md-8 mb-4">
			<h2>Tienda Virtual de la Academia</h2>
		</div>
		<div class="col-md-12">
			<p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi,
				veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>
		</div>
	</div>
	<hr>

	<div class="row">
		<div class="col-lg-3 col-md-6 mb-4" *ngFor="let producto of productos">
			<div class="card align-items-center">
				<div class="view overlay waves-light" mdbWavesEffect>
					<img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg" class="img-fluid" alt="">
					<a>
						<div class="mask rgba-white-slight"></div>
					</a>
				</div>
				<div class="card-body text-center">
					<a href="" class="grey-text">
						<h5>{{producto.tipo}}</h5>
					</a>
					<h5>
						<strong>
							<a href="" class="dark-grey-text">{{producto.nombre}}
								<span class="badge badge-pill danger-color">NEW</span>
							</a>
						</strong>
					</h5>
					<p class="card-text" style="font-size: 12px; padding: 0 .5rem;">
						{{producto.descripcion}}
					</p>
					<h4 class="font-weight-bold blue-text">
						<strong>{{producto.precio}}$</strong>
					</h4>
				</div>
			</div>
		</div>
	</div>

</ng-template>