<!-- REGISTRO DEL ATLETA -->
<div class="col-md-6 example z-depth-1">
    <h3 class="page-header">Registrar Atleta</h3>
    <form (submit)="onRegisterSubmit()">

      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label>Nombre</label>
            <input type="text" [(ngModel)]='nombreAtl' name='nombreAtl' class="form-control">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Apellido</label>
            <input type="text" [(ngModel)]='apellidoAtl' name='apellidoAtl' class="form-control">
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label>Cedula</label>
            <input type="text" [(ngModel)]='cedulaAtl' name='cedulaAtl' class="form-control">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Teléfono</label>
            <input type="text" [(ngModel)]='telefonoAtl' name='telefonoAtl' placeholder="XXX XXX XXXX" class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label>Género</label>
            <select [(ngModel)]="sexoAtl" name="sexoAtl" form="generos" class="form-control">
              <option value="volvo">Femenino</option>
              <option value="saab">Masculino</option>
              <option value="opel">Otro</option>
            </select>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Categoría</label>
            <br>
            <select [(ngModel)]="nombreCtg" name="nombreCtg" style="width: 22rem;">
              <option *ngFor="let categoria of categorias" [ngValue]="categoria">
                {{categoria.nombre}} (${{categoria.precio}})
              </option>
            </select>
          </div>
        </div>
      </div>
        
      <div class="form-group">
        <label>Fecha de Nacimiento</label>
        <input type="text" [(ngModel)]='fechaNacAtl' name='fechaNacAtl' placeholder="dd/mm/aaaa" class="form-control">
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="text" [(ngModel)]='email' name='email' placeholder="example@example.com" class="form-control">
      </div>
      <div class="form-group">
        <label>Contraseña</label>
        <input type="password" [(ngModel)]='password' name='password' class="form-control">
      </div>
      
      <input type="submit" class="btn btn-light-green" value="Registrar" style="width: 47.5rem">
    </form>
</div>

<!-- REGISTRAR REPRESENTANTE SI EL ATLETA ES MENOR DE EDAD -->
<!-- <div class="col-md-6 example z-depth-1">
    <h3 class="page-header">Registrar Representante</h3>
    <form (submit)="onRegisterSubmit()">

      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label>Nombre</label>
            <input type="text" [(ngModel)]='nombre_rep' name='nombre_rep' class="form-control">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Apellido</label>
            <input type="text" [(ngModel)]='apellido_rep' name='apellido_rep' class="form-control">
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label>Cedula</label>
            <input type="text" [(ngModel)]='cedula_rep' name='cedula_rep' class="form-control">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Teléfono</label>
            <input type="text" [(ngModel)]='telefono_rep' name='telefono_rep' placeholder="XXX XXX XXXX" class="form-control">
          </div>
        </div>
      </div>
        
      <div class="form-group">
        <label>Fecha de Nacimiento</label>
        <input type="text" [(ngModel)]='f_nacimiento_rep' name='f_nacimiento_rep' placeholder="dd/mm/aaaa" class="form-control">
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="text" [(ngModel)]='email_rep' name='email_rep' placeholder="example@example.com" class="form-control">
      </div>
      <div class="form-group">
        <label>PIN</label>
        <input type="password" [(ngModel)]='password_rep' name='password_rep' class="form-control">
      </div>
      
      <input type="submit" class="btn btn-light-green" value="Registrar" style="width: 47.5rem">
    </form>
</div>

<div class="comprobante_pago">
  <div class="col-2 col-md-offset-5">
  <h4 class="text-center">Comprobante de pago</h4>
  <input type="text" [(ngModel)]='comprobante' name='comprobante' class="form-control">
  <input type="submit" class="btn btn-light-green" value="Registrar">
</div>
</div>
 -->