<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><div class="img">
        Academia
        <img src="assets/ball.png" width="20" height="20" class="d-inline-block align-top" alt=""></div>
      </a> 
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/">Inicio</a></li>
      <li><a routerLink="/academiadetenis_info">¿Quiénes somos?</a></li>
      <li><a routerLink="/torneos">Torneos</a></li>
      <li><a routerLink="/membrasias">Merbrasías</a></li>  
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <!-- Si es administrador, se muestra el boton de Registrar Atleta -->
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" *ngIf="authService.esAdministrador()"><a routerLink="/registrar"><i class="fa fa-plus"></i> Registrar Atleta</a></li>    
      <!-- Si el usuario esta autenticado, se muestran los botones de perfil y logout -->
      <ng-template [ngIf]="authService.usuarioAutenticado()">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/perfil">Perfil</a></li>        
        <li><a (click)="onLogoutClick()" href="#">Logout</a></li>
      </ng-template>
      <!-- Si no esta autenticado, se muestra el boton de Iniciar sesion -->
      <button *ngIf="!authService.usuarioAutenticado()" class="btn btn-primary navbar-btn"><a routerLink="/login">Iniciar sesión</a></button>
    </ul>
  </div>
</nav>

<!-- <nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Always expand</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-md-0">
      <input class="form-control" type="text" placeholder="Search">
    </form>
  </div>
</nav> -->