 .navbar {
    border-top: 6px solid #8BC34A;
    border-radius: 0;
    font-weight: 400;
 }

 .container-fluid {
    padding: 0 12rem;
 }

 .btn-light-green a,
 .btn-light-green a:link,
 .btn-light-green a:visited,
 .btn-light-green a:focus {
    color: #fff;
    text-decoration: none;
    outline: none;
 }

 .btn-light-green a:hover,
 .btn-light-green a:active {
    text-decoration: none;
    outline: none;
 } 

 li {
    padding: 0 1rem;
 }