<div class="row">
  <div class="col-md-8">
      <h2>Pagos</h2>
  </div>
  <div class="col-md-4">
    <button class="btn btn-light-green">
      <a routerLink="/registrar"><i class="fa fa-plus"></i> REGISTRAR ATLETA</a>
    </button>
  </div>
</div>
<hr>
<table class="table table-hover">
  <thead>
    <th>Atleta</th>
    <th>Estados</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td *ngIf="user.tipo == 'user'">{{user.nombreAtl}} {{user.apellidoAtl}}</td>
      <td *ngIf="user.tipo == 'user'">{{user.estadoCta}}</td>
      <td *ngIf="user.tipo == 'user'">
        <a (click)="editar()">
          <i class="fa fa-pencil"></i> &nbsp; &nbsp;
        </a>
        <a (click)="eliminar(user._id)">
          <i class="fa fa-trash"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>