* {
    font-size: 16px;
}

.row {
    margin-top: 4rem;
}

h2 {
    margin-bottom: 0;
    font-size: 180%;
    text-transform: uppercase;
    font-weight: 400;
} 

.fa {
    font-size: 15px;
}

th {
    cursor: pointer;
}

.col-md-4 button {
    position: absolute;
    bottom: 0;
    right: 0;
    outline: none;
}  

.col-md-4 a {
    text-decoration: none;
    outline: none;
    color: #fff;
}