<div class="row">
  <div class="col-md-8">
      <h2>Torneos</h2>
  </div>
    <div class="col-md-4">
      <button class="btn btn-light-green" *ngIf="authService.esAdministrador()">
        <a routerLink="/crear-torneo"><i class="fa fa-plus"></i> Torneo</a>
      </button>
    </div>
</div>
<hr>
<table class="table table-hover">
  <thead>
    <th>Nombre</th>
    <th>Fecha</th>
    <th>Lugar</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let torneo of torneos">
      <td>{{torneo.nombre}}</td>
      <td>{{torneo.fecha}}</td>
      <td>{{torneo.lugar}}</td>
      <td>
        <a (click)="ver(torneo._id)" >
          <i class="fa fa-eye" [routerLink]="['/participantes', torneo._id]"></i> &nbsp; &nbsp;
        </a>
        <a (click)="eliminar(torneo._id)">
          <i class="fa fa-trash"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>