<div class="col-md-4 col-md-offset-4 example z-depth-1">  
  <img class="img-responsive center-block" src="../../../assets/login.png" alt="Academia de Tenis">
  <h3 class="page-header text-center">Bienvenido</h3>
  <form (submit)="onLoginSubmit()">
    <div class="form-group">
      <label>Correo electrónico</label>
      <input type="text" class="form-control" [(ngModel)]="email" name="email">
    </div>
    <div class="form-group">
      <label>Contraseña</label>
      <input type="password" class="form-control" [(ngModel)]="password" name="password">
    </div>
    <input type="submit" class="btn btn-light-green" value="Iniciar sesión">
  </form>
  <br>
  <p class="text-center">¿No tienes una cuenta? Dirígete a nuestra sede y regístrate para formar parte de nuestra academia!</p>
</div>